@{
    ViewData["Title"] = "Home Page";
}
<button type="button" onclick=" location.href='@Url.Action("Index","Signup")'">Signup</button>
<button type="button" onclick=" location.href='@Url.Action("Output","Login")'">Login</button>